<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet", href="static/styles.css">
    <script src="https://kit.fontawesome.com/275d4822b8.js" crossorigin="anonymous"></script>
    <script src="static/scripts.js"></script>
</head>
<body>
    <div id="header">
        <div class="container">
            <nav>
                <img src="static/images/logo.png" class="logo">
                <ul id="sidemenu">
                    <i class="fas fa-solid fa-xmark" onclick="closemenu()"></i>
                    <li><a href="{{ url_for('home') }}#header">Home</a></li>
                    <li><a href="{{ url_for('home') }}#about">About</a></li>
                    <li><a href="{{ url_for('home') }}#services">Projects</a></li>
                    <li><a href="{{ url_for('home') }}#portfolio">Experience</a></li>
                    <li><a href="{{ url_for('home') }}#contact">Contact</a></li>
                </ul>
                <i class="fas fa-solid fa-bars" onclick="openmenu()"></i>
            </nav>
            <div class="header-text">
                <p>Project 1</p>
                <h1>This page will show my <span>experiences</span><br>!</h1>
                <p>I am working on finishing this page as soon as possible so stay tuned!</p>
            </div>
        </div>
    </div>
</body>