<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aidan | Home</title>
    <link rel="icon" href="static/images/favicon.png" type="image/svg+xml">
    <link rel="stylesheet", href="static/styles.css">
    <script src="https://kit.fontawesome.com/275d4822b8.js" crossorigin="anonymous"></script>
    <script src="static/scripts.js" defer></script>
</head>
<body>
<div id="header">
    <div class="container">
        <nav>
            <img src="static/images/logo.png" class="logo">
            <ul id="sidemenu">
                <i class="fas fa-solid fa-xmark" onclick="closemenu()"></i>
                <li><a href="#header">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Projects</a></li>
                <li><a href="#portfolio">Experience</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            <i class="fas fa-solid fa-bars" onclick="openmenu()"></i>
        </nav>
        <div class="header-text">
            <p>Computer Science / Mathematics Student</p>
            <h1>Hi, my name is <span>Aidan</span><br> a Computer Science / Mathematics student <br>from Michigan State University</h1>
        </div>
    </div>
</div>

<!-----------about----------->

<div id="about">
    <div class="container">
        <div class="row">
            <div class="about-col-1">
                <img src="static/images/user.jpg" alt="">
            </div>
            <div class="about-col-2">
                <h1 class="sub-title">About Me</h1>
                <p>My name is Aidan Gollan from Traverse City, MI.<br>
                    As a computer science major who's also minoring in mathematics,<br>
                    I'm deeply passionate about problem solving, technology, and turning ideas into reality.<br>
                    From machine learning research at MSU to founding a startup,<br>
                    I've always been driven by innovation and the desire to make an impact.<br>
                    Beyond the code, I'm a nationally ranked powerlifter, and a gamer.<br>
                    Dive in to discover more about my journey and projects!</p>
                <div class="tab-titles">
                    <p class="tab-links active-link" onclick="opentab('skills')">Skills</p>
                    <p class="tab-links" onclick="opentab('education')">Education</p>
                    <p class="tab-links" onclick="opentab('experience')">Experience</p>
                </div>
                <div class="tab-contents active-tab" id="skills">
                    <ul>
                        <li><span class="header">Languages:</span>
                            <span class="nowrap"><i class="fa-brands fa-python"></i> Python, </span>
                            <span class="nowrap"><i class="fa-brands fa-react"></i> React, </span>
                            <span class="nowrap"><i class="fab fa-cuttlefish">++</i>,</span>
                            <span class="nowrap"><i class="fa-solid fa-database"></i> SQL, </span>
                            <span class="nowrap"><i class="fa-brands fa-html5"></i> HTML, </span>
                            <span class="nowrap"><i class="fa-brands fa-css3-alt"></i> CSS</span>
                        </li>
                        <li><span class="header">Technologies:</span>
                            <span class="nowrap"><i class="fa-brands fa-github"></i> GitHub,</span>
                            <span class="nowrap"><i class="fa-brands fa-digital-ocean"></i> Digital Ocean,</span>
                            <span class="nowrap"><i class="fa-brands fa-linux"></i> Linux,</span>
                            <span class="nowrap"><i class="fa-solid fa-fire"></i> Firebase,</span>
                            <span class="nowrap"><i class="fa-solid fa-gears"></i> Machine Learning</span>

                        </li>
                        <li><span class="header">Soft Skills:</span>
                            <span class="nowrap"><i class="fa-solid fa-magnifying-glass-chart"></i> Analytical Thinking,</span>
                            <span class="nowrap"><i class="fa-solid fa-people-group"></i> Leadership,</span>
                            <span class="nowrap"><i class="fa-solid fa-pen-to-square"></i> Organization,</span>
                            <span class="nowrap"><i class="fa-solid fa-person-walking-arrow-right"></i> Communication</span>
                        </li>
                    </ul>
                </div>
                <div class="tab-contents" id="education">
                    <ul>
                        <li><span class="header">2022-2025</span><br>
                            <span>Michigan State Honors College</span>
                        </li>
                        <li><span class="header">2021-2022</span><br>
                            <span>Northwestern Michigan College (Highschool Dual Enrollment)</span>
                        </li>
                        <li><span class="header">2018-2022</span><br>
                            <span>Traverse City Central Highschool (Summa cum laude)</span>
                        </li>
                    </ul>
                </div>
                <div class="tab-contents" id="experience">
                    <ul>
                        <li><span class="header">Undergraduate Researcher</span><br>
                            <span>Research on image classification with Machine Learning through the MSU math department.</span>
                        </li>
                        <li><span class="header">Startup Founder at DataLume</span><br>
                            <span>Developed startup aimed at providing buisness owners with deeper insights into their data <br>
                                Won <a href="https://tcnewtech.org/event-night/datalume-clinches-audience-vote-victory-at-tcnewtechs-august-pitch-event/">
                                    TC New Tech</a> pitch competition.</span>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------projects----------->

<div id="services">
    <div class="container">
        <h1 class="sub-title">My Projects</h1>
        <div class="services-list">
            <div>
                <i class="fa-solid fa-code"></i>
                <h2>Spotify Playlist Generator</h2>
                <p>Create A Funny Spotify Playlist!</p>
                <a href="https://weirdspotify.com/" class="link-color" target="_blank">Learn More</a>
            </div>
            <div>
                <i class="fa-brands fa-python"></i>
                <h2>Snake AI</h2>
                <p>See a Machine Learning Algorithm Learn How To Play Snake!</p>
                <a href="https://github.com/aidangollan/SnakeAI" class="link-color" target="_blank">Learn More</a>
            </div>
            <div>
                <i class="fa-solid fa-star"></i>
                <h2>Portfolio Website</h2>
                <p>Hey, You're Here Right Now!</p>
                <a href="https://github.com/aidangollan/aidangollan.github.io" class="link-color" target="_blank">See The Code</a>
            </div>
        </div>
        <a href="{{ url_for('projects') }}" class="btn">See More</a>
    </div>
</div>

<!-----------experience----------->

<div id="portfolio">
    <div class="container">
        <h1 class="sub-title">What Have I Been Up To</h1>
        <div class="work-list">
            <div class="work">
                <img src="static/images/pitch-check.jpg">
                <div class="layer">
                    <h3>TC New Tech Pitch Competition</h3>
                    <p>Read More About How I Won 
                        My First Pitch Competition!</p>
                    <a href="https://tcnewtech.org/event-night/datalume-clinches-audience-vote-victory-at-tcnewtechs-august-pitch-event/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div class="work">
            <div class="work">
                <img src="static/images/msu-research.png">
                <div class="layer">
                    <h3>Research</h3>
                    <p>Read More About My Research!</p>
                    <a href="https://github.com/aidangollan/MachineLearningResearch" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div class="work">
            <div class="work">
                <img src="static/images/work-3.png">
                <div class="layer">
                    <h3>DataLume</h3>
                    <p>Checkout the DataLume Demo!</p>
                    <a href="https://data-lume.com/" target="_blank"><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
                </div>
            </div class="work">
        </div>
        <a href="{{ url_for('experience') }}" class="btn">See More</a>
    </div>
</div>

<!-----------contact----------->

<div id="contact">
    <div class="container">
        <div class="row">
            <div class="contact-left">
                <h1 class="sub-title">Contact Me</h1>
                <p><i class="fa-solid fa-envelope"></i> gollanai@msu.edu</p>
                <p><i class="fa-solid fa-phone"></i> +1 231-620-4790</p>
                <div class="social-icons">
                    <a href="https://www.instagram.com/aidangollan/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/aidangollan/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
                    <a href="https://github.com/aidangollan" target="_blank"><i class="fa-brands fa-github"></i></a>
                </div>
                <a href="https://docs.google.com/document/d/1XoARAcIi1X3GTZyx1HQdD_p9qnvduj8ogEfc_aSYiVs/edit?usp=sharing" class="btn btn2" target="_blank">View Resume</a>
            </div>
            <div class="contact-right">
                <form id="contact-form" action="/contact" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" rows="6" placeholder="Your Message"></textarea>
                    <button type="submit" class="btn btn2">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Alert Container -->
    <div class="success-alert", id="success-alert">
        Message sent successfully!
    </div>
</div>
</body>
</html>